*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #092133;
}

div{
    width: 70%;
    height: 500px;
    position: relative;
    box-shadow: 0 0 100px rgb(119, 33, 33);
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
}

.img{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

button{
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(235, 52, 52);
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

button:hover{
    background-color: rgb(106, 33, 33);
    cursor: pointer;
}
.left{
    position: absolute;
    top: 300px;
    left: 70px;
}

.right{
    position: absolute;
    top: 300px;
    right: 70px;
}